<div class="card-panel">
    <h1>{{'CARDS_TITLE'|translate}}</h1>
    <div class="mid">
        <span [title]="'LIKE'|translate"><span class="material-symbols-outlined">sentiment_satisfied</span></span>
        <div class="cards-stack">
            <div class="card" style="--i: -2; --offset: 2; --s: 0.9; opacity:0.75;z-index: 1"></div>
            <div class="card" style="--i: -1; --offset: 1; --s: 0.95; opacity:0.9;z-index: 2"></div>
            <div class="card" style="--i: 0;  --offset: 0; --s: 1;    opacity:1;z-index: 5"></div>
            <div class="card" style="--i: 1;  --offset: 1; --s: 0.95; opacity:0.9;z-index: 2"></div>
            <div class="card" style="--i: 2;  --offset: 2; --s: 0.9; opacity:0.75;z-index: 1"></div>
        </div>
        <span [title]="'LIKE'|translate"><span class="material-symbols-outlined" [title]="'DISLIKE'|translate">sentiment_dissatisfied</span></span>
    </div>
</div>