<div class="chapters-cont">
    <h1>{{'CHAPTERS' | translate}}</h1>
    <div class="chapters">
        <a routerLink="/filter/men"><img src="imgs/men_garment.png"><h2>{{'MEN'|translate}}</h2></a>
        <a routerLink="/filter/lady"><img src="imgs/lady_garment.png"><h2>{{'LADY'|translate}}</h2></a>
        <a routerLink="/filter/lit"><img src="imgs/lit_books.png"><h2>{{'LIT'|translate}}</h2></a>
        <a routerLink="/filter/sci"><img src="imgs/sci_books.png"><h2>{{'SCI'|translate}}</h2></a>
        <a routerLink="/filter/ob"><img src="imgs/other_books.png"><h2>{{'OB'|translate}}</h2></a>
        <a routerLink="/filter/f"><img src="imgs/furniture.png"><h2>{{'F'|translate}}</h2></a>
        <a routerLink="/filter/el"><img src="imgs/electronics.png"><h2>{{'EL'|translate}}</h2></a>
        <a routerLink="/filter/accs"><img src="imgs/accounts.png"><h2>{{'ACCS'|translate}}</h2></a>
        <a routerLink="/filter/mt"><img src="imgs/mechanic_tools.png"><h2>{{'MT'|translate}}</h2></a>
        <a routerLink="/filter/ot"><img src="imgs/other_tools.png"><h2>{{'OT'|translate}}</h2></a>
        <a routerLink="/filter/autos"><img src="imgs/automobiles.png"><h2>{{'AUTOS'|translate}}</h2></a>
    </div>
</div>