<div class="chapters-cont">
    <div class="chapters">
        <img src="imgs/men_garment.png">
        <img src="imgs/lady_garment.png">
        <img src="imgs/lit_books.png">
        <img src="imgs/sci_books.png">
        <img src="imgs/other_books.png">
        <img src="imgs/furniture.png">
        <img src="imgs/electronics.png">
        <img src="imgs/accounts.png">
        <img src="imgs/gadget_tools.png">
        <img src="imgs/mechanic_tools.png">
        <img src="imgs/other_tools.png">
        <img src="imgs/automobiles.png">
    </div>
</div>