<header class="header" [class.hidden]="isHidden">
    <img src="imgs/Logo.png">
    <div class="header-links-wrapper">
        <div class="left-header-links-wrapper">
            <span class="dropdown element">
                <span class="material-symbols-outlined">language_chinese_array</span>
                <span class="langmark">{{currentLang}}</span>
                    <ul class="dropdown-menu">
                        <li (click)="setLang('ua')">Українська</li>
                        <li (click)="setLang('en')">English</li>
                    </ul>
            </span>
            <a routerLink="chats">
                <span class="material-symbols-outlined">chat_bubble</span>
                    <span>{{'CHAT' | translate}}</span>
                </a>
                <a routerLink="profile">
                    <span class="material-symbols-outlined">account_circle</span> 
                    <span>{{'PROFILE' | translate}}</span>
                </a>
                <a routerLink="settings">
                    <span class="material-symbols-outlined">settings</span> 
                    <span>{{'SETTINGS' | translate}}</span>
                </a>
        </div>
        <a routerLink="add_to_market" class="btn-primary">{{'SELL_ITEMS' | translate}}</a>
    </div>
</header>
