:root{
  --normal-ua: 18px !important;
}

.header span.material-symbols-outlined {
  display: flex;
  line-height: 1;
  flex-shrink: 0;

  font-variation-settings: 'FILL' 1;
  font-size: var(--icon-size);

  background: aliceblue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header a:hover span.material-symbols-outlined, span:hover span.material-symbols-outlined {
  background: var(--orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



body.ua .header a{
  font-size: var(--normal-ua);
  font-weight: var(--bolder-b);
  text-align: center;
  white-space: nowrap;
} 
body.ua .header a:hover{
  color: var(--black);
}
body.ua .langmark{
  font-size: var(--normal-ua);
  font-weight: var(--bolder-b);
  text-align: center;
  white-space: nowrap;
}
body.ua .langmark:hover{
  color: var(--black);
}



.header{
    background-color: var(--anti-primary);
    display:flex;

    position: sticky;
    top:0;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 100px;
    padding: 0 100px;
    box-sizing: border-box;
}
.header.hidden{
  transform: translateY(-100%);
}
.header img{
  height:165px;;
  margin-top: 10px;
  width:auto;
  object-fit: contain;
}  
.element{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(2*var(--base-gap));
} 
.langmark{
  padding: 0 var(--base-gap); 
  font-size: var(--smaller);
  font-weight: var(--bolder-b); 
  transition: all 0.3s ease;
  color: var(--black-cyan)
}
.dropdown-menu{
  background-color: var(--secondary);
}
.dropdown-menu li:hover{
  background-color: var(--primary);
}
.langmark:hover{
  color: var(--black);
}
.header a{
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: var(--font-h);
  color:var(--black-cyan);
  font-size: var(--normal);
  font-weight: var(--bolder-b);
  padding: 0 calc(2*var(--base-gap));

  transition: all 0.3s ease;
} 

.header a:hover{
  color: var(--black);
}
.header a span:first-child, 
.header a span:last-child {
  padding: 0 5px;
}



.header-links-wrapper{
  display: flex;
  align-items: center;
}
.left-header-links-wrapper{
  display: flex;
  align-items: center;
  margin-right: 80px;
}
@media (max-width: 1100px) {
  .header {
    padding: 0 24px;
  }
  .left-header-links-wrapper {
    margin-right: 0;
  }
  .header a {
    padding: 0 8px;
    font-size: 14px;
  }
  body.ua .header a{
    padding: 0 8px;
    font-size: 10px;
  }
}