.container{
    display:flex;
    width:var(--search-container-w);
    border: none;
    height:var(--search-container-h);
    background-color: var(--primary);
    gap:2px;
    padding: 0 100px;
}
.home-input{
    display:flex;
    align-items: center;
    text-align: left;
    height: calc(var(--search-container-h)/2);
    width: calc(var(--search-container-w)/1.5);
    margin:calc(var(--search-container-h)/4) 0;
    padding: 0 20px;
    gap:5px;
    border-radius: 5px;
    background-color: aliceblue;
}
.home-input:focus-within {
    border-radius: 0;
  outline: 3px solid transparent;
  border: 2px solid transparent;
  background: linear-gradient(aliceblue, aliceblue) padding-box,
              linear-gradient(0deg, var(--yellow), var(--orange)) border-box;
}
.home-input span{
    cursor:default;
}
.home-input span:hover{
    cursor:default;
}
.home-input input{
    flex:1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--smaller);
    color:var(--cyan-black);
    font-weight: var(--base-b);
}
.home-input input::placeholder{
    color:var(--aliceblue-dark);
}

.home-input span.material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
  font-size: 30px;
  color: var(--cyan-black);
}

.filter{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: auto;
    color: var(--cyan-black);
    height: calc(var(--search-container-h)/2);
    width: calc(var(--search-container-w)/10);
    margin:calc(var(--search-container-h)/4) 0;
    background-color: aliceblue;
    gap: 10px;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.3s ease;
}
.filter:hover a,
.filter:hover .material-symbols-outlined {
  color: var(--orange);
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.filter a,
.filter .material-symbols-outlined {
  line-height: 1;
  flex-shrink: 0;
  text-decoration: none;

  transition: all 0.3s ease;
  display: inline-block;
  
  font-size: clamp(14px, 0.8vw, var(--smaller));
  font-weight: var(--base-b); 
}
.filter .material-symbols-outlined{
    font-size: var(--icon-size)!important;
}
.filter a{
    color: inherit;
    text-decoration: none;
}



.basket{
        display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cyan-black);
    height: calc(var(--search-container-h)/2);
    width: calc(var(--search-container-w)/20);
    margin:calc(var(--search-container-h)/4) 0;
    background-color: aliceblue;
    gap: 10px;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.3s ease;
}

.basket .material-symbols-outlined{
    display: flex;
  line-height: 1;
  flex-shrink: 0;

  transition: all 0.3s ease;
  font-size: var(--icon-size);
}
.basket:hover .material-symbols-outlined {
  color: var(--orange);
  transform: scale(1.05);
  cursor: pointer;
}
.basket a {
  text-decoration: none;
  color: inherit;
}